.colored-section{
    background-color: #272525;
    color: white;
    margin-bottom: 100px;
}

.container-fluid{
    padding: 7% 15%;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 2.25rem;
}

.title-img-container{
    text-align: center;
}

.nav-btn {
    margin-top: 1.4rem;
    font-size: 1.5rem;
    padding: 0.5rem 0.25;
    border-radius: 10px;
}